@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto&display=swap');

:root {
    --cor-primaria: #89375F;
    --cor-secundaria: #CE5959;
    --cor-terciaria: #BACDDB;
    --cor-quarternaria: #F3E8FF;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;

    --fonte-tamanho-primario: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-tamanho-primario);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__destaque {
    color: var(--cor-terciaria);
    text-decoration: solid;
}

.apresentacao__destaque:hover {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
    font-size: var(--fonte-tamanho-primario);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulos {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-tamanho-primario);
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--cor-quarternaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: var(--fonte-tamanho-primario);
    padding: 1rem 0rem;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-quarternaria);
    color: var(--cor-primaria);
}

.apresentacao__links__link__imagens {
    width: 2rem;
    height: 2rem;
}

.apresentacao__imagem {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.apresentacao__descricao {
    text-align: center;
    font-size: 0.63rem;
    font-family: var(--fonte-secundaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-tamanho-primario);
    font-weight: 400;
}

.curriculo__apresentacao {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 8% 15%;
}

.curriculo__apresentacao__titulo {
    font-size: var(--fonte-tamanho-primario);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
}

.curriculo__apresentacao__texto {
    font-size: 1.13rem;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}